@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .leaflet-container {
    height: 600px;
    width: 100%;
  }
  
  .leaflet-div-icon {
    background: transparent;
    border: none;
  }
  
.outfit-300{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}


.outfit-400{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}


.outfit-500{
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

.outfit-600{
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}

.outfit-700{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}